/* This is a comment! */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector */

p { /* select all <p> elements */
    font-size: 16px; /*pixels, % or 1em or pts
              1em = base 16, so 16px = 1em*/
    line-height: 1.5em;
  
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
}